.map-container {
  height: 800px;
}

.sidebar {
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}


.custom-marker {
  background-color: #fff  ;
  padding: 5px;
  max-height: 45px;
  /* box-shadow: 2pc; */
}

.custom-marker::after {
  content: "";
  position: relative;
  /* bottom: -1px;  */
  left: 50%;
  margin-left: -6px;
  border-width: 6px;
  border-style: solid;
  /* background-color: red; */
  border-color: #ffffff transparent transparent transparent;
}

.marker-para{
  height: 13px;
  margin: 2px;
  font-size: 12px;
  font-weight: 600;
}
